@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: #F8F9FA;
    padding: 10px 0;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.sidebar{
    margin-top: 80px;
    width: 80px;
    background-color: rgb(16, 16, 49);
}
.main-content{
    margin-top: 80px;
    width: calc(100vw - 80px);
    overflow-y: auto;
}

.content-sidebar{
    margin: 10px 0;
}

.top-main{
    background-color: #1B72E8;
}


@media screen and (min-width: 992px){
    .sidebar{
        width: 200px;
    }
    .main-content{
        width: calc(100vw - 200px);
    }
}